.about-page {
 text-align: center;
 margin-top: 0;
}

.about-hero {
 width: 100%;
 height: auto;
 max-width: 100%;
 display: block;
 object-fit: cover;
 image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
    border-radius: 8px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.about-content {
 padding: 2rem;
 height: 100vh;
 background-color: black;
 color: white;
}