.homepage {
 font-family: Arial, sans-serif;
}

/* Section 1: Fullscreen Video */
.video_section {
 height: 100vh;
 /* Full viewport height */
 width: 100%;
 overflow: hidden;
 position: relative;
 background-color: white;
}

.video_section video {
 width: 100%;
 height: 100%;
 object-fit: cover;
 /* Ensures the video covers the entire section */
}

.image-container {
 width: 100%;
 position: relative;
 /* To contain the absolutely positioned caption */
 background-color: black;
 overflow: hidden;
 margin: 0;
 padding: 0;
 aspect-ratio: 18/ 7;
    /* ✅ Force a consistent aspect ratio */
}
.image-container2 {
 width: 100%;
 position: relative;
 /* To contain the absolutely positioned caption */
 background-color: black;
 overflow: hidden;
 margin: 0;
 padding: 0;
 aspect-ratio: 18/ 7;
 /* ✅ Force a consistent aspect ratio */
}

.image-container img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 /* Crop to fill the container without distortion */
 object-position: 30% ;
 /* Center the image content */
 display: block;
 filter: sepia(30%) contrast(90%) brightness(85%) saturate(80%) grayscale(20%);
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 /* Adds depth like an old photo */
}
.image-container2 img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 /* Crop to fill the container without distortion */
 object-position: center top;
 /* Center the image content */
 display: block;
 filter: sepia(30%) contrast(90%) brightness(85%) saturate(80%) grayscale(20%);
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 /* Adds depth like an old photo */
}

.image-caption {
 position: absolute;
 bottom: 3px;
 left: 20px;
 color: #e4e2e2;
 font-size: 2vw;
 font-weight: bold;
 border-radius: 4px;
 z-index: 1;
 white-space: nowrap;
}
