/* Navbar container */
.navbar_container {
 display: flex;
 justify-content: space-between;
 /* Longshot on the left, links on the right */
 align-items: center;
 /* Vertical alignment */
 padding: 0 40px;
 height: 100px;
 width: 100%;

 position: fixed;
 /* Keeps navbar at the top */
 top: 0;
 left: 0;

 background-color: rgba(0, 0, 0, 0);
 /* Ensure transparency */
 color: white;
 /* Ensure text is visible */
 z-index: 100;

}

.navbar_container.black-bg {

 /* Solid black for the /work page */
 color: black;
 /* Optional: Adjust text color if needed */
}

/* Anchor links */
.navbar_container a {
 text-decoration: none;
 color: inherit;
 font-weight: bold;
 padding: 5px 0;
}

/* List container */
.navbar_links ul {
 display: flex;
 /* Align list items horizontally */
 list-style: none;
 /* Remove bullet points */
 margin: 0;
 /* Reset margins */
 padding: 0;
 /* Reset padding */
}

/* Individual list items */
.navbar_links li {
 margin: 0 10px;
 font-size: 14px;
 font-family: Arial;
}


/* Active link styling */
.active_link {
 text-decoration: none;
 /* Fallback in case of cascading issues */
 border-bottom: 2px solid currentColor;
 /* Creates a visible underline */
 color: inherit;
}

/* Inactive link styling */
.inactive_link {
 text-decoration: none;
 color: inherit;
}

.longshot {
 font-size: 30px;
 font-family: 'Courier New', Courier, monospace;
 letter-spacing: 1px;
 margin-left: 1rem;
 color: inherit;
}

.menuOpen,
.menuClose {
 display: none;
}

@media (max-width: 768px) {
 .navbar_links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100px;
  right: 0;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  z-index: 100;
  height: 200px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
     overflow: hidden;
     max-height: 0;
     opacity: 0;
 }

 .navbar_links.open {
  display: flex;
  max-height: 300px;
  opacity: 1;
 }

 .navbar_links ul {
  flex-direction: column;
 }

 .navbar_links li {
  margin: 15px 0;
  color: white;
 }

 .navbar_container a {
  font-size: 18px;
 }

    .menuOpen,
    .menuClose {
     display: block;
     background-color: transparent;
     border: none;
     position: absolute;
     top: 30px;
     right: 20px;
     cursor: pointer;
     z-index: 110;
    }
}